body{
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    flex-direction: column;
    background-color: aliceblue;
    user-select: none;
    overflow: clip;
}
.tablero{
    left: calc(50vw - 111px); /*50vw es el centro de la pantalla y 110px son los 200/2 del tablero width y los 10 del padding-left */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:indianred;
    padding:7px;
}
.jugador{
    width:200px;
    text-align:center;
}
.jugador1{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-bottom:5px;
}
.jugador2{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin-top: 5px;
}
.row{
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.col{
    background-color: white;
    width:3em;
    height:3em;
    border:3px solid black;
    border-radius: 7px;
    margin:5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.siguiente:disabled {
    opacity: 0.33;
    pointer-events: none;
}
.borrar:disabled{
    opacity: 0.33;
    pointer-events: none;
}
.focus{
    background-color: darksalmon;
}
.central{
    display:flex;
    flex-direction: row;
    gap:5px;
}
.boton{
    width:10vw;
    text-align: center;
}
.siguiente{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.borrar{
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.selected{
    opacity:0.6;
    background-color: burlywood;
}
.draggable{
    cursor: move;
    user-select: none;
}
.ficha{
    width:0;
    height:0;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    pointer-events:none;
    touch-action:none;
}
/* .log{
    height:35vh;
    overflow:auto;
    scroll-behavior: smooth;
    text-align: center;
} */